*{
  font-family: "SF Pro Display Light", sans-serif;
  letter-spacing: 1px;
}

@font-face {
  font-family: SF Pro Display Light;
  src: url("font/SF-Pro-Display-Light.otf") format("opentype");
}

/* colors */
:root {
    --text-color: #cfcfcf;
    --primary: #7a2222;
    --title-color: #ffffff;
    --card: #242424;
    --border-color: #4d4d4d;
    --box: #1a1a1a;
    --bar: #000;
    --bar1: #7a2222;
    --scroll: #3f0b0b;
    --btn: #551a1a;
    --bg-color: #141414;
  }

  
body {
  background-color: var(--bg-color);
  padding-bottom: 50px;
  justify-content: center;
}
/* scrollbar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
  background: var(--box);
}
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 10px;
}


@media screen and (max-width: 466px) {
  .education .border1{
    display: none;
  }
  .education .border2{
    display: none;
  }
}
  
  /* mobile styles */
  .grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
  }
  .site-nav {
    position: fixed;
    bottom: 0;
    height: 4%;
    width: 100%;
    margin-left: -8px;
    border-radius: 20px 20px 0 0;
    background-color: #3a3a3ad3;
    backdrop-filter: blur(5px);
    z-index: 2;
    text-align: center;
    padding-top: 20px;
  }

  .site-nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 20px;
    font-size: 0.8em;
    font-weight: 500;
    transition: 0.3s;
  }
  .site-nav a:hover {
    font-size: 0.8em;
    color: var(--primary);
  }
  .site-nav a.active {
    color: var(--primary);
    font-size: 0.9em;
    font-weight: 700;
  }

  #welcome {
    background-color: var(--card);
    border-radius: 24px;
    margin: 20px 10px;
    max-width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    box-shadow: 2px 5px 10px rgb(5, 5, 5);
  }
  .name {
    font-family: "Brittany Signature", sans-serif;
    color: var(--primary);
    font-size: 1.8em;
    grid-column: 2/9;
    grid-row: 1;
    position: relative;
    align-self: center;
    font-weight: 1;
    margin-left: 10px;
    margin-top: 0;
  }
  .title {
    background-color: var(--box);
    border-radius: 7px;
    width: 100px;
    height: 18px;
    grid-column: 2/5;
    grid-row: 1;
    text-align: center;
    align-self: flex-end;
    margin-bottom: 20px;
    margin-left: 10px;
  }
  .title p {
    color: var(--text-color);
    font-size: 12px;
    grid-column: 3/7;
    position: relative;
    align-self: center;
    margin: 2px 0;
  }
  .welcome-img {
    background: var(--box);
    will-change: filter;
    padding: 0;
    height: 100px;
    width: 100px;
    border-radius: 14px;
    margin-top: 0;
    grid-column: span 1;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  .welcome-img img {
    max-height: 70%;
    max-width: 70%;
    display: block;
    margin: 15px auto;
  }
  
  /*check drop down*/
  #check {
    display: none;
  }
  .fa-chevron-down {
    color: var(--text-color);
    transition: 0.5s;
  }
  .fa-chevron-down:hover {
    color: var(--primary);
  }
  label {
    cursor: pointer;
    grid-column: 9/9;
  }
  #check:checked ~ .drop-down {
    display: block;
  }
  
  /* drop down */
  .drop-down {
    grid-column: span 9;
    margin-top: 20px;
    display: none;
    transition: 0.5s;
  }
  .border {
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
    position: relative;
    grid-column: span 13;
    margin-top: 0px;
    display: block;
  }
  .border0 {
    height: 1px;
    width: 100%;
    background-color: var(--border-color);
    position: relative;
    grid-column: span 13;
    margin-top: 20px;
    display: block;
  }
  .email-content {
    display: flex;
    gap: 20px;
    grid-column: span 9;
  }
  .email {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--box);
    text-align: center;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  .fa-envelope {
    color: var(--primary);
    justify-self: center;
    margin: 7px auto;
  }
  .email-text {
    color: var(--text-color);
    font-weight: 400;
    font-size: 12px;
    justify-self: center;
    margin-top: 20px;
  }
  .fa-mobile {
    color: var(--primary);
    justify-self: center;
    margin: 7px auto;
  }
  .fa-cake-candles {
    color: var(--primary);
    justify-self: center;
    margin: 7px auto;
  }
  .fa-location-dot {
    color: var(--primary);
    justify-self: center;
    margin: 7px auto;
  }
  .socials {
    grid-column: span 9;
    margin-top: 20px;
    text-align: center;
  }
  .socials a {
    color: var(--text-color);
    font-size: 14px;
    margin: 0 5px;
    transition: 0.3s;
  }
  .socials a:hover{
    color: var(--primary);
  }
  
  
  /* about me */
  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  
  #about {
    background-color: var(--card);
    border-radius: 24px;
    margin: 20px 10px;
    max-width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    box-shadow: 2px 5px 10px rgb(5, 5, 5);
  }
  .about-me {
    color: var(--title-color);
    grid-column: 1/4;
    font-size: 1.3em;
    margin-top: 0px;
    position: absolute;
  }
  .description {
    grid-column: span 13;
    margin-top: 50px;
  }
  .description p {
    margin: 0px;
    color: var(--text-color);
    font-size: 1em;
    line-height: 1.5;
  }
  h2 {
    color: var(--title-color);
    grid-column: span 13;
    font-size: 1.3em;
  }
  .web-design {
    border-radius: 24px;
    margin-top: 0px;
    padding: 20px 20px;
    grid-column: span 13;
    text-align: center;
    background-color: var(--box);
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  .web-design h3 {
    color: var(--text-color);
    text-align: center;
    font-size: 1em;
    margin-top: 0px;
  }
  .web-design p {
    color: var(--text-color);
    font-size: 0.9em;
  }
  .web-development {
    border-radius: 24px;
    margin-top: 0px;
    padding: 20px 20px;
    grid-column: span 13;
    background-color: var(--box);
    text-align: center;
    margin-top: 10px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  .web-development h3 {
    color: var(--text-color);
    text-align: center;
    font-size: 1em;
    margin-top: 0px;
  }
  .web-development p {
    color: var(--text-color);
    font-size: 0.9em;
  }
  .graphic-design {
    border-radius: 24px;
    margin-top: 0px;
    padding: 20px 20px;
    grid-column: span 13;
    background-color: var(--box);
    text-align: center;
    margin-top: 10px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  .material-symbols-outlined{
    color: var(--primary);
    font-size: 50px;
  }
  .graphic-design h3 {
    color: var(--text-color);
    text-align: center;
    font-size: 1em;
    margin-top: 0px;
  }
  .graphic-design p {
    color: var(--text-color);
    font-size: 0.9em;
  }
  
  /* portfolio page */
  #portfolio {
    background-color: var(--card);
    border-radius: 24px;
    margin: 20px 10px;
    padding: 20px 30px;
    transition: 0.5s;
    box-shadow: 2px 5px 10px rgb(5, 5, 5);
  }
  .portfolio-text h1 {
    color: var(--title-color);
    font-size: 1.3em;
    margin-top: 0px;
  }

  /* portfolio images */
  .projects a {
    grid-column: 1/9;
    margin: 10px 0;
    border-radius: 24px;
    text-decoration: none;
    background-color: transparent;
    cursor: default;
  }
  .thumbnail{
    overflow: hidden;
    border-radius: 24px;
    animation: scaleUp 0.25s ease forwards;
    cursor: pointer;
  }
  @keyframes scaleUp {
    0% { transform: scale(0.5); }
    100% { transform: scale(1); }
  }
  .projects a img {
    max-width: 100%;
    align-self: center;
    border-radius: 24px;
    margin: 0px auto;
    transition: 0.2s ease, box-shadow 0.2s ease;
  }

  .projects h4 {
    color: var(--title-color);
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 500;
    margin-left: 10px;
  }
  .projects p{
    color: var(--text-color);
    margin-top: -20px;
    margin-left: 10px;
    font-size: 0.9em;
  }
  .projects img:hover{
    max-width: 100%;
    transform: scale(1.1);
    filter: blur(1px);
  }
  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
    background-color: #707070ce;
    padding: 10px;
    border-radius: 12px;
  }
  .fa-eye{
    color: #531d1d;
    font-size: 24px
  }
  .thumbnail:hover .overlay-text{
    opacity: 1;
  }
  
  /* Resume1 */
  #resume {
    background-color: var(--card);
    border-radius: 24px;
    margin: 20px 10px;
    padding: 20px 30px;
    transition: 0.5s;
    box-shadow: 2px 5px 10px rgb(5, 5, 5);
  }
  .box {
    background-color: var(--box);
    padding: 5px 5px;
    border-radius: 12px;
    text-align: center;
    align-content: center;
    width: 30px;
    height: 25px;
    margin-top: 2px;
    z-index: 1;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  .education h2 {
    margin: 0px 10px;
    font-size: 1.1em;
    margin-top: 10px;
    grid-column: 2/9;
  }
  .education p {
    grid-column: 2/9;
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 10px;
    line-height: 1.5;
    color: var(--text-color);
  }
  .education h5 {
    grid-column: 2/9;
    margin-top: -20px;
    margin-left: 10px;
    color: var(--primary);
    margin-bottom: 0px;
    font-size: 0.7em;
  }
  .fa-user-graduate {
    color: var(--primary);
    font-size: 16px;
  }
  .fa-briefcase {
    color: var(--primary);
    font-size: 16px;
  }
  .fa-circle-dot {
    color: var(--text-color);
    font-size: 10px;
    margin-top: 15px;
    margin-left: 15px;
    z-index: 1;
  }
  .border1 {
    height: 100px;
    width: 1px;
    background-color: var(--border-color);
    position: absolute;
    margin-top: 35px;
    margin-left: 20px;
  }
  .border2 {
    height: 30px;
    width: 1px;
    background-color: var(--border-color);
    position: absolute;
    margin-top: 215px;
    margin-left: 20px;
  }
  /* skills */
  .skills-text h1 {
    color: var(--text-color);
    font-size: 1.3em;
    margin-top: 30px;
  }
  .skills {
    border-radius: 24px;
    background-color: var(--box);
    padding: 20px 20px 10px 20px;
    line-height: 0;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  .skills h2 {
    color: var(--text-color);
    font-size: 0.9em;
    display: flex;
  }
  .skills p {
    color: var(--text-color);
    font-size: 0.8em;
    margin-top: 0px;
    grid-column: 4/9;
    margin-left: 20px;
    font-weight: 100;
  }
  .bar1 {
    background-color: var(--bar);
    grid-column: 1/13;
    height: 7px;
    margin-top: -20px;
    border-radius: 50px;
  }
  .bar2 {
    background-image: linear-gradient(to left, var(--bar1), var(--scroll));
    height: 7px;
    margin-top: -30px;
    border-radius: 50px;
    grid-column: 1/13;
    width: 60%;
  }
  .bar3 {
    background-image: linear-gradient(to left, var(--bar1), var(--scroll));
    height: 7px;
    margin-top: -30px;
    border-radius: 50px;
    grid-column: 1/13;
    width: 70%;
  }
  
  /* contact page */
  #contact-sec {
    background-color: var(--card);
    max-width: 100%;
    margin: 20px 10px;
    border-radius: 24px;
    transition: 0.5s;
    box-shadow: 2px 5px 10px rgb(5, 5, 5);
  }
  .form-card2 {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 10px;
    padding-inline: 2em;
    padding-bottom: 0.4em;
    border-radius: 24px;
    background-color: transparent;
    box-shadow: 2px 5px 10px rgb(5, 5, 5);
    margin: 0px 0px;
    grid-column: 1/13;
  }
  
  .form-heading {
    color: var(--text-color);
    font-size: 1.3em;
    align-self: center;
    margin-left: 0px;
    grid-column: 1/13;
    text-align: center;
  }
  
  .form-field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 10px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: var(--title-color);
    background-color: var(--box);
    margin-top: 10px;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
  }
  
  .input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-color);
    padding-inline: 1em;
  }
  
  .sendMessage-btn {
    cursor: pointer;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--box);
    color: var(--primary);
    font-weight: 400;
    transition: all ease-in-out 0.2s;
    margin-top: 10px;
    grid-column: 1/13;
  }
  
  .sendMessage-btn:hover {
    transition: all ease-in-out 0.2s;
    background-color: var(--btn);
    color: var(--text-color);
    cursor: pointer;
  }
  .fa-paper-plane{
    margin-right: 5px;
  }
  
  .form-card2 .form-field:nth-child(1) {
    grid-column: 1/13;
  }
  .form-card2 .form-field:nth-child(2) {
    grid-column: 1/13;
  }
  .form-card2 .form-field:nth-child(3) {
    grid-column: 1/13;
  }
  .form-card2 .form-field:nth-child(4) {
    grid-column: 1/13;
  }
  
  @media screen and (min-width: 580px) {

    #welcome {
      margin: 0px 50px;
      margin-top: 30px;
      transition: 0.5s;
    }
    .name {
      font-size: 2em;
      margin-left: 20px;
    }
    .title {
      border-radius: 7px;
      width: 120px;
      height: 20px;
      margin-bottom: 10px;
      margin-left: 20px;
    }
    .title p {
      font-size: 13px;
      margin-top: 1px;
    }
    .welcome-img {
      height: 110px;
      width: 110px;
      transition: 0.5s;
    }
    .border {
      height: 1px;
      width: 100%;
      background-color: var(--border-color);
      position: relative;
      grid-column: span 9;
      margin-top: 0px;
      display: block;
    }
    .border0 {
      height: 1px;
      width: 100%;
      background-color: var(--border-color);
      position: relative;
      grid-column: span 9;
      margin-top: 20px;
      display: block;
    }
    .email-content {
      gap: 30px;
    }
    .email {
      margin-top: 22px;
      width: 40px;
      height: 40px;
      border-radius: 10px;
      text-align: center;
      font-size: 20px;
    }
    .fa-envelope {
      margin: 10px auto;
    }
    .email-text {
      font-size: 14px;
      margin-top: 20px;
      line-height: 1.5;
    }
    .fa-mobile {
      margin: 10px auto;
    }
    .fa-cake-candles {
      margin: 10px auto;
    }
    .fa-location-dot {
      margin: 10px auto;
    }
    .socials {
      margin-top: 20px;
      text-align: center;
    }
    .socials a {
      font-size: 15px;
      margin: 5px 5px;
    }
    #about {
      margin: 20px 50px;
      padding-bottom: 30px;
      transition: 0.5s;
    }
    .about-me {
      font-size: 22px;
      margin-top: 10px;
    }
    .description {
      grid-column: span 13;
      margin-top: 70px;
    }
    .description p {
      font-size: 16px;
    }
    .web-design {
      padding: 30px 40px;
      text-align: start;
    }
    h2{
      font-size: 22px;
    }
    .web-design h3 {
      text-align: start;
      font-size: 18px;
      margin-left: 60px;
      margin-top: -45px;
    }
    .web-design p {
      font-size: 16px;
      margin-left: 60px;
      margin-top: 0px;
      grid-column: span 13;
    }
    .web-development {
      padding: 30px 40px;
      text-align: start;
    }
    .web-development h3 {
      text-align: start;
      font-size: 18px;
      margin-left: 60px;
      margin-top: -45px;
    }
    .web-development p {
      font-size: 16px;
      margin-left: 60px;
      margin-top: 0px;
      grid-column: span 13;
    }
    .graphic-design {
      padding: 30px 40px;
      text-align: start;
    }
    .graphic-design h3 {
      text-align: start;
      font-size: 18px;
      margin-left: 60px;
      margin-top: -45px;
    }
    .graphic-design p {
      font-size: 16px;
      margin-left: 60px;
      margin-top: 0px;
      grid-column: span 13;
    }
    
    h5 {
      font-size: 20px;
    }
    .text {
      font-size: 16px;
    }
    /* portfolio */
    #portfolio {
      border-radius: 24px;
      margin: 20px 50px;
      transition: 0.5s;
    }
    .portfolio-text h1 {
      font-size: 26px;
      margin-top: 10px;
    }
    .projects h4 {
      font-size: 15px;
      font-weight: 100;
    }
    /* resume */
    #resume {
      margin: 20px 50px;
      padding-bottom: 30px;
      transition: 0.5s;
    }
    .fa-user-graduate {
      font-size: 20px;
      margin-top: 2px;
    }
    .border1 {
      max-height: 100px;
      margin-left: 20px;
      margin-top: 35px;
    }
    #resume .border2 {
      height: 30px;
      margin-left: 20px;
      margin-top: 220px;
    }
    .education h2 {
      font-size: 18px;
      margin-top: 10px;
      margin-left: 10px;
    }
    .education p {
      font-size: 16px;
    }
    .education h5 {
      font-size: 14px;
    }
    .fa-briefcase {
      font-size: 20px;
      margin-top: 1px;
    }
    .skills {
      padding-left: 30px;
    }
    .skills h2 {
      font-size: 16px;
    }
    .skills p {
      font-weight: 100;
    }
    #contact-sec {
      margin: 20px 50px;
      transition: 0.5s;
    }
    .form-heading {
      font-size: 1.5em;
    }
    .form-field {
      padding: 1em;
    }
    .form-card2 .form-field:nth-child(1) {
      grid-column: 1/13;
    }
    .form-card2 .form-field:nth-child(2) {
      grid-column: 1/13;
    }
    .form-card2 .form-field:nth-child(3) {
      grid-column: 1/13;
    }
    .form-card2 .form-field:nth-child(4) {
      grid-column: 1/13;
    }
    .site-nav a{
      margin-left: 30px;
    }
  }
  
  @media screen and (min-width: 780px) {
    .grid {
      gap: 20px;
    }
    .projects a:nth-child(1) {
      grid-column: 1/5;
    }
    .projects a:nth-child(2) {
      grid-column: 5/9;
    }
    .projects a:nth-child(3) {
      grid-column: 1/5;
    }
    .projects a:nth-child(4) {
      grid-column: 5/9;
    }
    .projects a:nth-child(5) {
      grid-column: 1/5;
    }
    .projects a:nth-child(6) {
      grid-column: 5/9;
    }
    .projects a:nth-child(7) {
      grid-column: 1/5;
    }
    .projects a:nth-child(8) {
      grid-column: 5/9;
    }
    .projects a:nth-child(9) {
      grid-column: 1/5;
    }
    .projects a:nth-child(10) {
      grid-column: 5/9;
    }
    .projects a:nth-child(11) {
      grid-column: 1/5;
    }
    .projects a:nth-child(12) {
      grid-column: 5/9;
    }
    .projects a:nth-child(13) {
      grid-column: 1/5;
    }
    .projects a:nth-child(14) {
      grid-column: 5/9;
    }
    .projects h4 {
      font-weight: 400;
      font-size: 16px;
    }
    .drop-down .email-content:nth-child(1){
      grid-column: 1/5;
    }
    .drop-down .email-content:nth-child(2){
      grid-column: 6/9;
    }
    .drop-down .email-content:nth-child(3){
      grid-column: 1/5;
    }
    .drop-down .email-content:nth-child(4){
      grid-column: 6/9;
    }
    .welcome-img {
      height: 150px;
      width: 150px;
      transition: 0.5s;
    }
    .welcome-img img{
      margin-top: 20px;
    }
    
    .name {
      font-size: 40px;
    }
    .title {
      width: 130px;
      height: 23px;
      margin-bottom: 20px;
    }
    .title p {
      font-size: 14px;
      margin-top: 2px;
    }
    .web-design {
      height: 50%;
    }
    .web-development {
      margin-top: 0px;
      height: 50%;
    }
    .graphic-design {
      margin-top: 0px;
      height: 50%;
    }
    .box {
      width: 40px;
      height: 30px;
    }
    .fa-user-graduate {
      font-size: 20px;
    }
    .fa-briefcase {
      font-size: 20px;
    }
    .education h2 {
      font-size: 22px;
      margin-left: 0px;
    }
    .education p {
      font-size: 18px;
      margin-left: 0px;
    }
    .education h5 {
      font-size: 14px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
    .fa-circle-dot {
      margin-left: 20px;
    }
    .border1 {
      margin-left: 25px;
      min-height: 140px;
      margin-top: 42px;
    }
    #resume .border2 {
      margin-left: 25px;
      margin-top: 305px;
      height: 40px;
    }
    .skills-text h1 {
      font-size: 22px;
    }
    .skills h2 {
      font-size: 18px;
    }
    .skills p {
      font-size: 14px;
    }
    .bar1 {
      margin-top: -10px;
    }
    #contact-sec {
      margin-top: 20px;
      padding: 50px;
      transition: 0.5s;
    }
    .form-card2 .form-field:nth-child(1) {
      grid-column: 1/6;
    }
    .form-card2 .form-field:nth-child(2) {
      grid-column: 6/13;
    }
    .form-card2 .form-field:nth-child(3) {
      grid-column: 1/13;
    }
    .form-card2 .form-field:nth-child(4) {
      grid-column: 1/13;
    }
    .site-nav {
      transition: 0.5s;
    }
    .fa-eye{
      color: #531d1d;
      font-size: 20px
    }

  }
  
  @media screen and (min-width: 1024px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 20px;
    }
    .projects a:nth-child(1) {
      grid-column: 1/5;
    }
    .projects a:nth-child(2) {
      grid-column: 5/9;
    }
    .projects a:nth-child(3) {
      grid-column: 9/13;
    }
    .projects a:nth-child(4) {
      grid-column: 1/5;
    }
    .projects a:nth-child(5) {
      grid-column: 5/9;
    }
    .projects a:nth-child(6) {
      grid-column: 9/13;
    }
    .projects a:nth-child(7) {
      grid-column: 1/5;
    }
    .projects a:nth-child(8) {
      grid-column: 5/9;
    }
    .projects a:nth-child(9) {
      grid-column: 9/13;
    }
    .projects a:nth-child(10) {
      grid-column: 1/5;
    }
    .projects a:nth-child(11) {
      grid-column: 5/9;
    }
    .projects a:nth-child(12) {
      grid-column: 9/13;
    }
    .projects a:nth-child(13) {
      grid-column: 1/5;
    }
    .projects a:nth-child(14) {
      grid-column: 5/9;
    }
    .drop-down {
      grid-column: 1/13;
    }
    label {
      grid-column: 12/12;
    }
    .drop-down .email-content:nth-child(1){
      grid-column: 1/6;
    }
    .drop-down .email-content:nth-child(2){
      grid-column: 9/13;
    }
    .drop-down .email-content:nth-child(3){
      grid-column: 1/6;
    }
    .drop-down .email-content:nth-child(4){
      grid-column: 9/13;
    }
    .description {
      grid-column: 1/13;
    }
    .web-design {
      grid-column: 1/7;
    }
    .web-development {
      grid-column: 7/13;
    }
    .graphic-design {
      grid-column: 1/7;
      margin-top: -20px;
    }
    #about {
      transition: 0.5s;
      padding-top: 50px;
    }
    #portfolio {
      transition: 0.5s;
      padding-top: 50px;
    }
    .projects h4 {
      font-size: 16px;
    }
    #resume {
      transition: 0.5s;
      padding-top: 50px;
    }
    .education {
      grid-column: 1/13;
    }
    .fa-circle-dot {
      grid-column: 1/13;
      margin-top: 0px;
    }
    .box {
      grid-column: 1/13;
    }
    .education h2 {
      grid-column: 2/13;
      margin-top: -50px;
    }
    .education p {
      margin-top: -40px;
    }
    .education h5 {
      margin-top: -40px;
    }
    .education .border1 {
      min-height: 120px;
      margin-top: 40px;
    }
    #resume .border2 {
      min-height: 45px;
      margin-top: 270px;
    }
    .bar1 {
      margin-top: -10px;
    }
    .form {
      grid-column: 1/13;
    }
    .form-card2 .form-field:nth-child(1) {
      grid-column: 1/7;
    }
    .form-card2 .form-field:nth-child(2) {
      grid-column: 7/13;
    }
    .form-card2 .form-field:nth-child(3) {
      grid-column: 1/13;
    }
    .form-card2 .form-field:nth-child(4) {
      grid-column: 1/13;
    }
    .site-nav a{
      margin-left: 50px;
    }
    #contact-sec {
      padding-bottom: 50px;
      margin-top: 20px;
      transition: 0.5s;
    }
    .form-card2 {
      grid-column: 3/11;
      margin-top: 30px;
      background-color: var(--box1);
    }
  }
  
  @media screen and (min-width: 1200px) {
    body {
      display: flex;
      justify-content: center;
      padding-top: 50px;
    }
    #welcome {
      height: 600px;
      width: 200px;
      position: fixed;
      margin-left: -700px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin-top: 0px;
      transition: 0.5s;
    }
    #about {
      width: 700px;
      justify-content: center;
      align-items: center;
      margin-left: 360px;
      margin-top: 0px;
      transition: 0.5s;
    }
    .welcome-img {
      position: absolute;
      justify-self: center;
    }
    .name {
      text-align: center;
      margin-top: 170px;
      font-size: 30px;
      margin-left: 70px;
      padding-bottom: 25px;
    }
    .title {
      margin-left: 150px;
    }
    .fa-chevron-down {
      transition: none;
      visibility: hidden;
    }
    .label {
      cursor: default;
    }
    .site-nav{
      width: 467px;
      left: 53%;
      top: 58px;
      transition: 0.3s;
      padding-left: 20px;
      background-color: transparent;
      position: absolute;
    }
    .site-nav a{
      margin-left: 30px;
    }
    .drop-down {
      display: inline-block;
      justify-content: center;
      align-items: center;
      margin-top: 0px;
    }
    .drop-down .email-content:nth-child(1){
      grid-column: 1/13;
    }
    .drop-down .email-content:nth-child(2){
      grid-column: 1/13;
      margin-top: -40px;
    }
    .drop-down .email-content:nth-child(3){
      grid-column: 1/13;
      margin-top: -40px;
    }
    .drop-down .email-content:nth-child(4){
      grid-column: 1/13;
      margin-top: -40px;
    }
    .border {
      width: 200px;
      margin-left: 130px;
    }
    .border0 {
      width: 200px;
      margin-left: 130px;
      margin-top: 0;
    }
    .email-content {
      margin-left: 130px;
    }
    .email-text {
      font-size: 12px;
      margin-left: -15px;
      margin-top: 23px;
    }
    .email {
      font-size: 15px;
    }
    .fa-envelope {
      margin-top: 13px;
    }
    .fa-mobile {
      margin-top: 13px;
    }
    .fa-cake-candles {
      margin-top: 13px;
    }
    .fa-location-dot {
      margin-top: 13px;
    }
    .about-me {
      margin-top: 10px;
      font-weight: 700;
      font-size: 26px;
    }
    .description {
      margin-top: 80px;
    }
    .web-design {
      grid-column: span 13;
    }
    .web-development {
      grid-column: span 13;
      margin-top: -10px;
    }
    .graphic-design {
      grid-column: span 13;
      margin-top: -15px;
    }
    #portfolio {
      margin-left: 10px;
      width: 700px;
      margin-top: 0px;
      margin-left: 360px;
      transition: 0.5s;
    }
    .projects {
      margin-top: 0px;
      row-gap: 0px;
    }
    .projects h4{
      font-size: 16px;
      font-weight: 400;
    }
    #resume {
      margin-left: 10px;
      width: 700px;
      margin-top: 0px;
      margin-left: 360px;
      transition: 0.5s;
    }
    .fa-user-graduate {
      font-size: 16px;
    }
    .fa-briefcase {
      font-size: 16px;
      margin-top: 3px;
    }
    .education h2 {
      font-size: 22px;
      margin-left: 10px;
    }
    .education p {
      font-size: 17px;
      grid-column: 2/13;
      margin-left: 10px;
      margin-bottom: 30px;
      margin-top: -36px;
    }
    .education h5 {
      font-size: 13px;
      grid-column: 2/13;
      margin-left: 10px;
    }
    .education .border1 {
      min-height: 130px;
      margin-left: 25px;
    }
    #resume .border2 {
      min-height: 43px;
      margin-top: 300px;
      margin-left: 25px;
    }
    .fa-circle-dot {
      margin-left: 20.5px;
    }
    .skills-text h1 {
      font-size: 22px;
    }
    .skills {
      padding: 30px 40px;
    }
    .skills h2 {
      font-size: 18px;
    }
    .skills p {
      font-size: 14px;
      margin-bottom: 0px;
    }
    #contact-sec {
      margin-left: 10px;
      width: 660px;
      margin-top: 0px;
      margin-left: 360px;
      transition: 0.5s;
    }
    .form-card2 .form-field:nth-child(1) {
      grid-column: 1/13;
    }
    .form-card2 .form-field:nth-child(2) {
      grid-column: 1/13;
    }
    .form-card2 .form-field:nth-child(3) {
      grid-column: 1/13;
    }
    .form-card2 .form-field:nth-child(4) {
      grid-column: 1/13;
    }
    #theme-switch {
      top: 20px;
      left: 20px;
      position: absolute;
    }
    .form-card2 {
      background-color: var(--box1);
    }
    .fa-eye{
      font-size: 18px
    }
    .overlay-text{
      border-radius: 10px;
    }
    
  }
  
